@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
	margin-top: 0.5rem;
}

ul {
	margin-top: 1rem;
}

body {
	background: #272822;
	font-size: 10px;
	font-family: "Open Sans", sans-serif;
}

main {
	max-width: 90rem;
	padding: 2rem 10%;
	margin: auto;
}

header, footer, title, content {
	width: 100%;
	display: block;
	position: relative;
}

header, footer {
	text-align: center;
}


section {
	margin: 1rem 0;
}

section title {
	text-transform: capitalize;
}

section content {
	margin-left: 4rem;
}

.left, .right {
	position: absolute;
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.code {
	background: #272822;
	color: #ccc;
	font-family: "Source Code Pro", monospace;
	font-size: 1rem;
}

.args li span {
	display: inline-block;
	min-width: 4rem;
}

.longargs .description{
	display: block;
	margin-left: 3rem;
}

.blocklist li {
	margin-top: 1rem;
}

.blocklist li p span {
	width: 50%;
	display: inline-block;
}
